@model TripApplication.Models.ViewModels.DetailsDestination
@{
    ViewBag.Title = "Details";
}

<a href="/Destination/List">Go back to list</a>
<br />
<a href="/Destination/Edit/@Model.SelectedDestination.DestinationID">Update</a>
<br />
<a style="color:#ab2020;" href="/Destination/DeleteConfirm/@Model.SelectedDestination.DestinationID">Delete</a>
<h2>@Model.SelectedDestination.DestinationName</h2>
<div>Country: @Model.SelectedDestination.DestinationCountry</div>
<div>Latitude: @Model.SelectedDestination.DestinationLatitude</div>
<div>Longitude: @Model.SelectedDestination.DestinationLongitude</div>

<div>
    <h2>Related Trips for @Model.SelectedDestination.DestinationName:</h2>
    @foreach (var trip in Model.RelatedTrips)
    {
        <a href="/Trip/Details/@trip.TripID">@trip.TripFromDate.ToString("MMM dd, yyyy") - @trip.TripName</a><br />
    }
</div>